h3, h4, h5{
  font-family: 'Times New Roman', Times, serif
}

.bold-text {
  font-weight: bolder;
}

.green-text {
  color: green
}

.red-text {
  color: red
}

.range-text {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}