.StockDisplay {
  border-top: solid;
  border-top-color: black;
  border-top-width: 5px;
}

.list-group-item {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.text-left {
  text-align: left;
}

.sDB-flex-left {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.sDB-flex-right {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.sDB-item {
  border-bottom: solid;
  border-bottom-color: #d3d3d3;
  border-bottom-width: 1px;
}

.no-pad-left {
  padding-left: 0 !important;
}

.no-pad-right {
  padding-right: 0 !important;
}